AgentApplication/.vs/AgentApplication/v15/Server/sqlite3/storage.ide
AgentApplication/.vs/AgentApplication/v15/Server/sqlite3/db.lock
AgentApplication/.vs/AgentApplication/v15/Server/sqlite3/storage.ide-wal
AgentApplication/.vs/AgentApplication/v15/Server/sqlite3/storage.ide-shm
AgentApplication/.vs/AgentApplication/v15/.suo
