<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
                                                                                                                      </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MojuserPortSoap11" />
        <binding name="AccommodationUnitPortSoap11" />
        <binding name="AccommodationUnitTypePortSoap11" />
        <binding name="AddressPortSoap11" />
        <binding name="MessagePortSoap11" />
        <binding name="PeriodPricePortSoap11" />
        <binding name="ServicePortSoap11" />
        <binding name="ReservationPortSoap11" />
        <binding name="AccommodationPortSoap11" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9007/ws" binding="basicHttpBinding"
        bindingConfiguration="MojuserPortSoap11" contract="UserService.MojuserPort"
        name="MojuserPortSoap11" />
      <endpoint address="http://localhost:9007/ws" binding="basicHttpBinding"
        bindingConfiguration="AccommodationUnitPortSoap11" contract="AccommodationUnitService.AccommodationUnitPort"
        name="AccommodationUnitPortSoap11" />
      <endpoint address="http://localhost:9007/ws" binding="basicHttpBinding"
        bindingConfiguration="AccommodationUnitTypePortSoap11" contract="AccommodationUnitTypeService.AccommodationUnitTypePort"
        name="AccommodationUnitTypePortSoap11" />
      <endpoint address="http://localhost:9007/ws" binding="basicHttpBinding"
        bindingConfiguration="AddressPortSoap11" contract="AddressService.AddressPort"
        name="AddressPortSoap11" />
      <endpoint address="http://localhost:9007/ws" binding="basicHttpBinding"
        bindingConfiguration="MessagePortSoap11" contract="MessageService.MessagePort"
        name="MessagePortSoap11" />
      <endpoint address="http://localhost:9007/ws" binding="basicHttpBinding"
        bindingConfiguration="PeriodPricePortSoap11" contract="PeriodPriceService.PeriodPricePort"
        name="PeriodPricePortSoap11" />
      <endpoint address="http://localhost:9007/ws" binding="basicHttpBinding"
        bindingConfiguration="ServicePortSoap11" contract="AccommodationServiceService.ServicePort"
        name="ServicePortSoap11" />
      <endpoint address="http://localhost:9007/ws" binding="basicHttpBinding"
        bindingConfiguration="ReservationPortSoap11" contract="ReservationService.ReservationPort"
        name="ReservationPortSoap11" />
      <endpoint address="http://localhost:9007/ws" binding="basicHttpBinding"
        bindingConfiguration="AccommodationPortSoap11" contract="AccommodationService.AccommodationPort"
        name="AccommodationPortSoap11" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AgentAppDBContext" connectionString="Server=(localdb)\MSSQLLocalDB; Integrated Security=true; Database=AgentApp" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>